h1 {
    text-align: center;
    font-family: "Oswald", Verdana, Arial, sans-serif;
}

#side1 {
    display: inline-block;
    width: 45%;
    vertical-align: top;
    font-family: "Oswald", Verdana, Arial, sans-serif;
}

#side2 {
    display: inline-block;
    width: 45%;
    vertical-align: top;
    font-family: "Oswald", Verdana, Arial, sans-serif;
}

#return {
    margin-top: 60%;
    width: 100%;
    float: right;
    margin-bottom: 20px;
}

a {
    float: right;
    font-family: "Oswald", Verdana, Arial, sans-serif;
    text-decoration: none;
}

h3 {
    font-weight: 500;
}

li {
    font-weight: 300;
}

#side1 {
    border: 1px solid red;
    border-radius: 15px;
    padding: 10px;
    list-style-position: inside;
    margin-right: 20px;
}

#side2 {
    border: 1px dashed red;
    border-radius: 15px;
    padding: 10px;
    list-style-position: inside;
    list-style-type: upper-roman;
}

a:hover {
    text-decoration: underline;
}